extends layout

block content
  h2 Publish to SNS
  form(id="sns" role="form" action="./" method="post" class="publish--form")
    div
      div
        label(for="message") Message body
      textarea(name="message" id="message" cols="30" rows="10")
    button(type="submit") Send

  ul#sns-messages